<h2>📦 Produkten</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Naam</th>
      <th>Prijs</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of products"
      [class.duur]="product.price > 15"
      (click)="product.price = product.price + 5"
    >
      <td>{{ product.id }}</td>
      <td>{{ product.name | camelcase }}</td>
      <td>{{ product.price | currency: "EUR" }}</td>
      <td *ngIf="product.photo">
        <img [src]="product.photo" [alt]="product.name" />
      </td>
      <td *ngIf="!product.photo">
        <img
          src="./assets/not_available.jpg"
          alt="afbeelding niet beschikbaar"
        />
      </td>
    </tr>
  </tbody>
</table>
<hr />

<form (ngSubmit)="addProduct()">
  <input
    type="text"
    placeholder="id"
    [(ngModel)]="newProduct.id"
    name="id"
  /><br />
  <input
    type="text"
    placeholder="name"
    [(ngModel)]="newProduct.name"
    name="name"
  /><br />
  <input
    type="number"
    placeholder="price"
    [(ngModel)]="newProduct.price"
    name="price"
  /><br />
  <input
    type="text"
    placeholder="photo"
    [(ngModel)]="newProduct.photo"
    name="photo"
  /><br />
  <button type="submit()">Voeg product toe</button>
</form>
